body{
    margin: 0;
    font-family: century gothic;
    font-weight: 700;
    line-height: 1.6;
} 

header{
    background: #111827;
    color: black;
    padding: 22px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

img{
   
    height: 180px; 
    width: auto;
}

nav a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 35px;
}

nav a:hover {
    color:aquamarine;
}